.user-none{
  user-select: none;
}

.App{ /*body de la app*/
  background-color: #251e1ecb;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-container{ /*contenedor de app0*/
  display: flex;
  justify-content: space-evenly;
  align-items: self-start;
  max-width: 1600px;
  max-height: fit-content;
  width: 100%;
  padding: 50px;
  background-color: #251e1e
}

.card{ /*app0, app1img*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border: 2px solid black;
  background-color: #181515;
  border-radius: 10px;
}
.card:hover{ /*app0*/
  background-color: #251e1e;
  cursor: pointer;
}

.app1-container{
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding: 50px;
  max-width: 1600px;
  background-color: #251e1e;
}

.app1{
  background-color: #181515;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

img{
  max-width: 350px;
  height: 300px;
  user-select: none;
  border-radius: 80%;
}

span{
  color: #fff;
  font-size: 2.8em;
  user-select: none;
  text-align: center;
}
span::first-letter{
  text-transform: capitalize;
  color: #c7c7c7;
}
